* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

body {
  font-family: "Montserrat",
    sans-serif;
  color: #2e2f42;
  background-color: #ffffff;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Task-1 */

h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.item {
  border-radius: 8px;
  padding: 16px;
  width: 392px;
  background: #f6f6fe;
  margin-bottom: 24px;
}

li>ul>li {
  border: 1px solid #808080;
  border-radius: 4px;
  height: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  padding-top: 8px;
  margin-bottom: 8px;
}

/* Task-2 */

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

img {
  width: 360px;
  height: 300px;
}

/* Task-3 */

input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  margin-top: 24px;
  margin-left: 24px;
  margin-bottom: 16px;
  padding-left: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.50;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

h1 {
  margin-left: 24px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: 0.04em;
}

/* Task-4 */

.login-form {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  margin: 24px;
}

label {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.50;
  letter-spacing: 0.04em;

}

label>input {
  margin-left: 0;
  margin-top: 8px;
  margin-bottom: 0;
}

button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 86px;
  height: 40px;
  background: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.50;
  letter-spacing: 0.04em;
  color: #fff;
  margin-top: 8px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #6c8cff;
}

/* Task-5 */

.widget {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div>p {
  margin-top: 100px;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.50;
  letter-spacing: 0.04em;

}

div>button {
  width: 148px;
  margin-top: 0;
}